In [59]:
import pandas as pd
import numpy as np
import pyodbc

In [65]:
def clean_df(PATH):
    print(PATH)
    df = pd.read_csv(PATH, dtype={
      "Job No" : np.float64,
      "Schd Time End" : str, 
      "Schd Time Start": str, 
      "Customer Name" : str,
      "Site Name" : str,
      "Address 1" : str,
      "Address 1" : str,
      "City" : str,
      "State" : str,
      "Zone" : str,
      "Phone" : str,
      "Serv Type" : str,   
      "Container Type" : str,
      "Status" : str,
      "Truck number" : str,
      "Route number" : str,
      "Initial Entry Date" : str,
      "Prorated Weight" : float,
      "Booking Reference 1" : str,
     "Booking Reference 2" : str,
      "Alternate Ref No 1" : str,
     "Alternate Ref No 2" : str,
     "Alternate Service Ref 1" : str,
     "Alternate Service Ref 2" : str,
     "Directions" : str,
     "Waste Type" : str,
     "Price" : float,
      "PO": str, 
      "Notes": str, 
      "Tip Site": str})

    df = df.fillna(value=0)
    df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")
    df.Date = df.Date.dt.date
    df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")
    df['Customer number'] = df['Customer number'].round(3)
    df['Schd Time End'] = df['Schd Time Start'].astype(str)
    df['Schd Time End'] = df['Schd Time End'].astype(str)
    df["Branch"] = df["Branch"].astype(str)
    df["Phone_2"] = df["Phone_2"].astype(str)

    df.Notes = df.Notes.astype(str)
    df.Directions = df.Directions.astype(str)
    return df

In [60]:
PATH = 'C:\\Users\\User\\Desktop\\blob_storage\\booking\\BOOKING_ALL.csv'
df = pd.read_csv(PATH, dtype={
  "Job No" : np.float64,
  "Schd Time End" : str, 
  "Schd Time Start": str, 
  "Customer Name" : str,
  "Site Name" : str,
  "Address 1" : str,
  "Address 1" : str,
  "City" : str,
  "State" : str,
  "Zone" : str,
  "Phone" : str,
  "Serv Type" : str,   
  "Container Type" : str,
  "Status" : str,
  "Truck number" : str,
  "Route number" : str,
  "Initial Entry Date" : str,
  "Prorated Weight" : float,
  "Booking Reference 1" : str,
 "Booking Reference 2" : str,
  "Alternate Ref No 1" : str,
 "Alternate Ref No 2" : str,
 "Alternate Service Ref 1" : str,
 "Alternate Service Ref 2" : str,
 "Directions" : str,
 "Waste Type" : str,
 "Price" : float,
  "PO": str, 
  "Notes": str, 
  "Tip Site": str})

df["Branch"] = ""
df["Phone_2"] = ""

df = df.fillna(value=0)
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")
df.Date = df.Date.dt.date
df.Date = pd.to_datetime(df.Date, format="%Y-%m-%d")
df['Customer number'] = df['Customer number'].round(3)
df['Schd Time End'] = df['Schd Time Start'].astype(str)
df['Schd Time End'] = df['Schd Time End'].astype(str)
df["Branch"] = df["Branch"].astype(str)
df["Phone_2"] = df["Phone_2"].astype(str)

df.Notes = df.Notes.astype(str)
df.Directions = df.Directions.astype(str)

In [61]:
df = df[[
    "Job No",
    "Date", 
    "Schd Time Start",
    "Schd Time End", 
    "Latitude", 
    "Longitude",
    "Customer number",
    "Customer Name",
    "Site Name",
    "Address 1",
    "Address 2",
    "City",
    "State",
    "PostCode",
    "Zone",
    "Phone",
    "Qty Scheduled",
    "Qty Serviced",
    "Serv Type",
    "Container Type",
    "Bin Volume",
    "Status",
    "Truck number",
    "Route number",
    "Initial Entry Date",
    "Weight",
    "Prorated Weight",
    "Booking Reference 1",
    "Booking Reference 1",
    "Alternate Ref No 1",
    "Alternate Ref No 2",
    "Alternate Service Ref 1",
    "Alternate Service Ref 2",
    "Notes",
    "Directions",
    "Waste Type",
    "Price",
    "PO",
    "Branch",
    "Phone_2"
]]

In [12]:
server = 'localhost' 
database = 'STAGE_1_DB'

username = 'SA' 
password = 'Sydwaste123#'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
# 38

for index, row in df_1.iterrows():
    cursor.execute("INSERT INTO STAGE_1_DB.BOOKING_SCH_1.BOOKING_TB_1 \
    (Job_No,Date,Schd_Time_Start,Schd_Time_End,Lat,Lng,\
    Customer_Number,Customer_Name,Site_Name,Address_1,\
    Address_2,City,State,PostCode,Zone,Phone,Qty_Scheduled,\
    Qty_Serviced,Serv_Type,Container_type,Bin_Volume,Status,\
    Truck_Number,Route_Number,Initial_Entry_Date,Weight,\
    Prorated_Weight_Kg,Booking_Reference_1,Booking_Reference_2,\
    Alternate_Ref_No_1,Alternate_Ref_No_2,Alternate_Service_Ref_1,\
    Alternate_Service_Ref_2,Notes,Directions,Waste_Type,Price,PO,Branch,Phone_2) \
    values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", 
                   
                    row["Job No"],
                    row.Date,
                    row["Schd Time Start"],
                    row["Schd Time End"],
                    row["Latitude"],
                    row["Longitude"],
                    row["Customer number"],
                    row["Customer Name"],
                    row["Site Name"],
                    row["Address 1"],
                    row["Address 2"],
                    row["City"],
                    row["State"],
                    row.PostCode,
                    row.Zone,
                    row.Phone,
                    row["Qty Scheduled"],
                    row["Qty Serviced"],
                    row["Serv Type"],
                    row["Container Type"],
                    row["Bin Volume"],
                    row.Status,
                    row["Truck number"],
                    row["Route number"],
                    row["Initial Entry Date"],
                    row.Weight,
                    row["Prorated Weight"],
                    row["Booking Reference 1"],
                    row["Booking Reference 2"],
                    row["Alternate Ref No 1"],
                    row["Alternate Ref No 2"],
                    row["Alternate Service Ref 1"],
                    row["Alternate Service Ref 2"],
                    row["Notes"],
                    row["Directions"],
                    row["Waste Type"],
                    row["Price"],
                    row.PO,
                   "","")  
cnxn.commit()
cursor.close()

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242434 entries, 0 to 242433
Data columns (total 40 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Job No                   242434 non-null  float64
 1   Date                     242434 non-null  datetime64[ns]
 2   Schd Time Start          242434 non-null  object
 3   Schd Time End            242434 non-null  object
 4   Latitude                 242434 non-null  float64
 5   Longitude                242434 non-null  float64
 6   Customer number          242434 non-null  float64
 7   Customer Name            242434 non-null  object
 8   Site Name                242434 non-null  object
 9   Address 1                242434 non-null  object
 10  Address 2                242434 non-null  object
 11  City                     242434 non-null  object
 12  State                    242434 non-null  object
 13  PostCode                 242434 non-null  float64
 14  Zone                     242434 non-null  object
 15  Phone                    242434 non-null  object
 16  Qty Scheduled            242434 non-null  int64
 17  Qty Serviced             242434 non-null  int64
 18  Serv Type                242434 non-null  object
 19  Container Type           242434 non-null  object
 20  Bin Volume               242434 non-null  float64
 21  Status                   242434 non-null  object
 22  Truck number             242434 non-null  object
 23  Route number             242434 non-null  object
 24  Initial Entry Date       242434 non-null  object
 25  Weight                   242434 non-null  float64
 26  Prorated Weight          242434 non-null  float64
 27  Booking Reference 1      242434 non-null  object
 28  Booking Reference 1.1    242434 non-null  int64
 29  Alternate Ref No 1       242434 non-null  object
 30  Alternate Ref No 2       242434 non-null  object
 31  Alternate Service Ref 1  242434 non-null  object
 32  Alternate Service Ref 2  242434 non-null  object
 33  Notes                    242434 non-null  object
 34  Directions               242434 non-null  object
 35  Waste Type               242434 non-null  object
 36  Price                    242434 non-null  float64
 37  PO                       242434 non-null  object
 38  Branch                   242434 non-null  object
 39  Phone_2                  242434 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(3), object(27)
memory usage: 74.0+ MB

In [72]:
table = "[STAGE_1_DB].[BOOKING_SCH_1].[BOOKING_TB_1]"

server = 'localhost' 
database = 'STAGE_1_DB'

username = 'SA' 
password = 'Sydwaste123#'

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)  

insert_stmt = f"INSERT INTO ${table}\
(Job_No,Date,Schd_Time_Start,Schd_Time_End,Lat,Lng,\
Customer_Number,Customer_Name,Site_Name,Address_1,\
Address_2,City,State,PostCode,Zone,Phone,Qty_Scheduled,\
Qty_Serviced,Serv_Type,Container_type,Bin_Volume,Status,\
Truck_Number,Route_Number,Initial_Entry_Date,Weight,\
Prorated_Weight_Kg,Booking_Reference_1,Booking_Reference_2,\
Alternate_Ref_No_1,Alternate_Ref_No_2,Alternate_Service_Ref_1,\
Alternate_Service_Ref_2,Notes,Directions,Waste_Type,Price,PO,Branch,Phone_2) \
values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)"

cursor = cnxn.cursor()
cursor.fast_executemany = True

for i in range(0,11):
    PATH = f"C:\\Users\\User\Desktop\\blob_storage\\booking\\{i}.csv"
    df = clean_df(PATH)
    print(df.shape)
    cursor.executemany(insert_stmt, df.values.tolist())

cursor.commit()
cursor.close()
conn.close()

(242434, 40)

ProgrammingError: ('String data, right truncation: length 662 buffer 510', 'HY000')

242434.3

In [62]:
x = 0
y = 0
for i in range (0,12):
    y = x + 242434
    PATH = f"C:\\Users\\User\Desktop\\blob_storage\\booking\\{i}.csv"
    df.iloc[x:y,:].to_csv(PATH,index=False)
    x = y

In [66]:
PATH = "C:\\Users\\User\Desktop\\blob_storage\\booking\\10.csv"
df_11 = pd.read_csv(PATH)
df_11

SyntaxError: invalid syntax (<ipython-input-66-38bcb7f4f68b>, line 4)

0
1
2
3
4
5
6
7
8
9